@{
    ViewBag.Title = "Candidate Panel";
}

<div>
    <br />
    <br />
    <br />
    <br />
    @Html.ActionLink("Apply For Provincial Seat", "ApplyForProvincialSeat", "CandidateHome")
    <br />
    <br />
    @Html.ActionLink("Apply For National Seat", "ApplyForNationalSeat", "CandidateHome")
    <br />
    

</div>