
@{
    ViewBag.Title = "Admin Panel";
}

<div>
	<br />
	<br />
	<br />
	@Html.ActionLink("Add Cities", "Index", "Cities")
	<br />
	@Html.ActionLink("Approve Candidates", "ApproveCandidate")
	<br />
	@Html.ActionLink("Approve Voter", "ApproveVoter")
	<br />
	@Html.ActionLink("Election Dashboard", "Index", "Elections")
	<br />

</div>